<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

	<connectionStrings>
		<add name="Exam8_SysAdmin" providerName="System.Data.SqlClient" connectionString="data source=192.168.1.4;initial catalog=XY_System2016;persist security info=True;user id=sa;password=Sqlserver@2014;"/>
	</connectionStrings>

	<appSettings>
		<add key="MigrationDb_XY_System2016" value="data source=192.168.1.5;initial catalog={0};persist security info=True;user id=sa;password=Sqlserver@2014;"/>
	</appSettings>
</configuration>
